.titleBar {
  user-select: none;
  app-region: drag;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBar.isDarwin {
  justify-content: center;
}

.titleBarLogo {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.appIcon {
  width: 20px;
  height: 20px;
  margin: 8px;
}

.titleText {
  margin-top: 24px;
}

.isDarwin .titleText {
  margin-top: 20px;
}

.windowController {
  width: 120px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controllerIcon {
  app-region: no-drag;
  width: 16px;
  height: 16px;
  margin: 4px;
  padding: 4px 6px;
}

@media (prefers-color-scheme: light) {
  .titleBar {
    background: #ffffff;
    color: #1F1F1F;
  }

  .controllerIcon {
    fill: #1F1F1F;
  }

  .controllerIcon:hover {
    filter: brightness(4);
  }

  .controllerIcon:active {
    filter: brightness(5.2);
  }
}


@media (prefers-color-scheme: dark) {
  .titleBar {
    background: #141414;
    color: #DCDCDC;
  }

  .controllerIcon {
    fill: #DCDCDC;
  }

  .controllerIcon:hover {
    filter: brightness(0.7);
  }

  .controllerIcon:active {
    filter: brightness(0.5);
  }
}