:root {
  color-scheme: light dark;
}

body {
  transition: background-color 0.3s;
}

@media (prefers-color-scheme: light) {
  body {
    background: #ffffff;
    color: #1F1F1F;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
    color: #DCDCDC;
  }
}

.pager {
  margin: 8px;
}