html, body {
  width: 100%;
  height: 100vh; /* 确保页面高度始终等于窗口 */
  margin: 0;
  overflow: hidden; /* 禁止滚动条 */
}

.titleBar {
  app-region: drag;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleBar img {
  width: 16px;
  height: 16px;
  margin: 8px;
}

.titleBar h5 {
  margin-top: 24px;
}